HELP.md
# --- Python & Virtual Environments ---
venv/
**/venv/
.venv/
__pycache__/
*.py[cod]
.env

# --- Logs & OS ---
*.log
.DS_Store
Thumbs.db
dist/

# --- Java / Maven / Spring Boot ---
target/
*.class
HELP.md
.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# --- IDEs & Editors ---
.vscode/
.idea/
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# --- Node / Next.js ---
node_modules/
.next/
out/
build/
tsconfig.tsbuildinfo
.env*
!.env.example